body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    display: flex; 
    flex: 1;
    flex-direction: column;
}    

/* Hero Section*/
.hero-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #1f2937;
    align-items: center;
}


.header {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px 0 0 0; 
    max-width: 60%;
}

/*Nav bar*/
a {
    text-decoration: none;
}

.logo-container a {
    display: flex;
    flex: 1;
    font-size: 24px;
    color: #1f2937;
}

.link-container a {
    display: flex;
    font-size: 18px;
    color: #1f2937;
    
}

.logo-text {
    display: flex;
    align-items: center;
}


.logo-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 18px;
    padding: 0 6px 0 6px;
    margin: 0;
}

.mid-img {
    margin: 0;
    padding: 0;
}

.nav-bar {
    display: flex;
    flex: 1;
    padding: 10px 25px 10px 25px;
    background-color: rgb(247, 172, 197);
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    
}

.link-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-content {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    padding: 100px 0 100px 0;
}

.left-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
}


h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0 0 8px 0;
    padding: 0;
}

p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
}

.signup {
    background-color: rgb(216, 133, 161);
    color: #f9faf8;
    border-radius: 6px;
    border: none;
    max-width: 35%;
    max-height: auto;
    font-size: 18px;
    font-weight: 700;
    margin-top: 12px;
    padding: 10px 0 10px 0;
}

.right-section {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
}

/* pets Section*/

.pets-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 80px 0;
    
}

.pets-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    
}

.pets-heading {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    justify-content: center;
    
}

.pets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 30px 0 0 0;

}

.cat-dog {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 200px;
    align-items: center;

}

.pet-img {
    min-width: 150px;
    min-height: 150px;
    border-radius: 8px;
}

.info {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    margin: 8px 0 0 0;
}

/*Quote Section*/
.quote-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
   
} 

.quote-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 60%;
    padding: 80px 0 80px 0;

}
.quote-text {
    display: flex;
    flex: 1;
    font-style: italic;
    font-size: 36px;
    text-align: center;
}

.author {
    font-weight: 900;
    text-align: right;
    padding: 15px 30px 0 0;
}

/*Sign up*/
.banner-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 100px 0;
}

.banner-bg {
    display: flex;
    flex: 1 1 40%;
    max-width: 40%;
    background-color: rgb(216, 133, 161);
    border-radius: 8px;
    padding: 20px 50px 20px 50px;
    justify-content: space-evenly;
    align-items: center;

}
.banner-content {
    display: flex;
    max-width: 80%;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
}

.banner-text {
    display: flex;
    flex: 3 1 0;
    flex-direction: column;
}

.banner-heading {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.banner-description {
    font-size: 14px;
    color: white;
}

.banner-button {
    display: flex;
    flex: 1;
    max-height: 50px;
    

}

.button {
    display: flex;
    color: white;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid white;
    border-radius: 6px;
    background-color: transparent;
    padding: 10px 20px 10px 20px;
    align-items: center;
    justify-content: center;
   
}

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-text {
    padding: 15px 0 15px 0;
    color: white;
    font-size: 14px;

}
